# Specific files
package-lock.json
yarn.lock
*.DS_Store

# Specific file types
*.d.ts
*.js.map

# Node Modules directory
node_modules
dist

# JetBrains WebStorm directory
.idea/*

#misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
